.user_files_container {
  width: 70%;
  display: flex;
  flex-direction: column;
  /* align-items: center;
    justify-content: center; */
  gap: 50px;
}

.file_upload_section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.file-upload {
  padding: 8px;
  font-size: 15px;
  color: #fff;
  background-color: #1c76bd;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.folder_block {
  display: flex;
  flex-direction: column;
  /* align-items: center;
    justify-content: center; */
  gap: 20px;
  width: 100%;
}

.folder {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 12px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.158);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-sizing: border-box;
}

.folder:hover {
  filter: brightness(0.8);
  transform: scale(1.04);
}

.folder:active,
.folder:focus,
.folder:visited {
  background: var(--white-color);
  color: white;
}

.folder_name {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-size: 1.2rem;
}
