 
.Title{
  /* margin: 25px; */
  margin-left: 200px;
  font-weight: bold;
  font-size: 25px;
}
.profileContainer{
  display: flex;
  max-width: 1024px;
  height: 60%;
  gap:10px; 
  margin-left: 150px;
}
.col1{
  height: 100%;
  width: 600px;
   gap:30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.titleName {
  font-weight: bold;
  font-size: 20px;
}
.header_box {
  width: 100%;
  background-color:#99e6ff;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.personal_info{
  height: 250px;
  width: 500px;
  box-shadow: 0 8px 20px 0 rgba(1, 2, 18, 0.567);
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
}
.Business_info{
  height: 250px;
  width: 500px;
  /* box-shadow: 0 8px 20px 0 rgba(1, 2, 18, 0.567); */
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
}
.edit_button {
  width: 70px;
  height: 30px;
  color: white;
  position: absolute;
  top: 10px;
  right: 30px;
  font-weight: 450;
  background-color: rgb(37, 136, 228);
  font-size: large;
  border-radius: 30px;
  cursor: pointer;
}

.details_box {
  width: 100%;
  height: 330px; 
  display: flex;
}

.labels {
  margin-left: 20px;
  margin-right: 40px;
  font-weight: 400;
  font-size: large;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.values {
  margin-left: 50px;
  margin-right: 50px;
  font-weight: 600;
  font-size: larger;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
 
.separator {
  height: 100%;
  width: 0.5px;
  background-color: black;
}
input {
  height: 20px;
  font-size: 12px;
  width: 100%;
   
}

.col2{
  margin-top: 50px;
  height: 100%;
  width: 50%; 
  display: flex;
  flex-direction: column; 
  gap: 50px;
}
.header2 {
  height: 30px;
  background-color: #99e6ff;
  display: flex;
  align-items: center;
}
.labels2 {
  margin-left: 20px;
  gap: 5px;
  display: flex;
  flex-direction: column;
} 
.Tainfo ,.support{
  width: 300px;
  height: 100px;
  background-color: white;
  box-shadow: 0 5px 20px 0 rgba(1, 2, 18, 0.567);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 30px;
}
.endTitle{
  margin-left: 200px;
  
}