.home-page-body {
    margin-top: 2%;
}

.dashboard_block{
    max-width: 100%;
    /* margin: 80px 0 0 0; */
    padding: 25px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;   
}

/* .homepage_block span{
    width: 30%;
    height: 250px;
    background: #fff;
    color: #000;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px;
    border-radius: 25px;
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.218);
    backdrop-filter: blur( 10.5px );
    -webkit-backdrop-filter: blur( 10.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
} */

.btn-admin {
    width: 5rem;
    height: 100%;

    color: white;
    background: var(--first-color);
    
    font-size: 1rem;
    font-weight: bold;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.218);
    backdrop-filter: blur( 10.5px );
    -webkit-backdrop-filter: blur( 10.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;

    margin: auto;
}

.btn-admin:hover {
    transition: all 0.1s ease;
    transform: scale(1.1);
    color: black!important;
    background-color: var(--white-color);
}

.btn-admin a:hover {
    color: black!important;
}

.gradientCard {
    width: 60%;
    height: 15vw;
    background: #fff;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 2px;
    border-radius: 25px;
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.218);
    backdrop-filter: blur( 10.5px );
    -webkit-backdrop-filter: blur( 10.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    flex-direction: column;
    position: relative;
}

.gradientCard:hover {
    transition: all 0.1s ease;
    transform: scale(1.05);
    filter: brightness(0.7);
}

/* media queries for small screens */
@media screen and (max-width: 800px) {
    .dashboard_block{
        flex-direction: column;
    }
    .gradientCard{
        width: 45%;
        /* height: 20vw; */
    }
}

.gradientBlue {
    background: linear-gradient(114.08deg, #6D17CB -16.6%, #2876F9 110.16%);
    color: white;
}

.gradientRed {
    background: linear-gradient(97.62deg, #FF0B9D -18.83%, #F42B03 114.11%);
    box-shadow: 5px 7px 13px rgba(0, 0, 0, 0.08);
    color: white;
}

.gradientGreen {
    background: linear-gradient(90deg, #710ba0 -5.05%, #B82C8E 117%);
    color: white;
}

.card1 {
    width: 60%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;    
    background: linear-gradient(114.08deg, #6D17CB -16.6%, #2876F9 110.16%);
    box-shadow: 5px 7px 13px rgba(0, 0, 0, 0.08);
    border-radius: 22px;
    font-size: 1.5rem;
    font-weight: bold;
    background-size: 300% 100%;
    transition:all 0.8s ease-in-out; 
}

.card2 {
    width: 60%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;    
    background: linear-gradient(97.62deg, #FF0B9D -18.83%, #F42B03 114.11%);
    box-shadow: 5px 7px 13px rgba(0, 0, 0, 0.08);
    border-radius: 22px;
    font-size: 1.5rem;
    font-weight: bold;
    background-size: 300% 100%;
    transition:all 0.8s ease-in-out; 
}

.card3 {
    width: 60%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;    
    background: linear-gradient(90deg, #710ba0 -5.05%, #B82C8E 117%);
    box-shadow: 5px 7px 13px rgba(0, 0, 0, 0.08);
    border-radius: 22px;
    font-size: 1.5rem;
    font-weight: bold;
    background-size: 300% 100%;
    transition:all 0.8s ease-in-out; 
}

.card1:hover {
    background-position: 100% 0;
    transition: all 0.5s ease-out;
    background-image: linear-gradient(to right, #2879f9, #6d17cb, #6d17cb, #5811ff);
    box-shadow: 0 10px 15px 0 rgba(73, 28, 255, 0.75);
}

.card2:hover {
    background-position: 100% 0;
    transition: all 0.5s ease-out;
    background-image: linear-gradient(to right,#f4034f,#de00ae #dc03f4, #ff0b9da5 );
    box-shadow: 0 10px 15px 0 rgba(255, 0, 119, 0.75);
}
.card3:hover {
    background-position: 100% 0;
    transition: all 0.5s ease-out;
    background-image: linear-gradient(to right, #b82c82, #6d17cb, #6d17cb, #9d19e4);
    box-shadow: 0 10px 15px 0 rgba(90, 8, 205, 0.75);
}

.recent-uploads table {
    width: 99%;
    
}

.recent-uploads td{
    text-align: left;
    padding: 5px;
    padding-left: 20px;
}
.recent-uploads button{
    background-color: #1C76BD;
    border: none;
    color: #fff;
    padding: 8px;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 10px;
}

.recent-uploads h1{
    font-size: 20px;
    font-weight: 600;
    font-family: sans-serif;
    color: #1C76BD;
    padding: 5px;
}

.recent-uploads tr {
    width: 95%;
}

.tr-header th{
 background-color: #1C76BD !important;
 color: #fff;
 height: 30px;
 text-align: left;
 padding-left: 20px;
} 

tr {
 background-color: #f3f3f3;
}

tr:nth-child(even) {
    background: rgb(239, 239, 239);
}
