.dashboard_block{
    max-width: 100%;
    margin: 100px 0 0 0;
    padding: 25px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    
}

/* .homepage_block span{
    width: 30%;
    height: 250px;
    background: #fff;
    color: #000;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px;
    border-radius: 25px;
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.218);
    backdrop-filter: blur( 10.5px );
    -webkit-backdrop-filter: blur( 10.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
} */


.card1 {
    width: 25%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;    
    background: linear-gradient(114.08deg, #6D17CB -16.6%, #2876F9 110.16%);
    box-shadow: 5px 7px 13px rgba(0, 0, 0, 0.08);
    border-radius: 22px;
    font-size: 1rem;
    font-weight: bold;
}
.card2 {
    width: 25%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;    
    background: linear-gradient(97.62deg, #FF0B9D -18.83%, #F42B03 114.11%);
    box-shadow: 5px 7px 13px rgba(0, 0, 0, 0.08);
    border-radius: 22px;
    font-size: 1rem;
    font-weight: bold;
}
.card3 {
    width: 25%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;    
    background: linear-gradient(90deg, #5F0A87 -5.05%, #B82C8E 117%);
    box-shadow: 5px 7px 13px rgba(0, 0, 0, 0.08);
    border-radius: 22px;
    font-size: 1rem;
    font-weight: bold;
}

.recent-uploads table {
    width: 100%;
    
}

.recent-uploads td{
    text-align: center;
    padding: 5px;
}
.recent-uploads button{
    background-color: #1C76BD;
    border: none;
    color: #fff;
    padding: 8px;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 10px;
}

.recent-uploads h1{
    font-size: 15px;
    font-weight: 600;
    font-family: sans-serif;
    background:#1C76BD;
    color: #fff;
    padding: 10px;
    top: -20px;
    border-radius: 10px 10px 0 0;
}

.recent-uploads {
    width: 95%;
}